/Unidad 2/JSON/SerializacionJSON/nbproject/private/
/Unidad 2/JSON/SerializacionJSON/build/
/Unidad 2/ExamenUD2/nbproject/private/
/Unidad 2/XML24_OscarFP/nbproject/private/
/Unidad 2/XML24_OscarFP/build/
/Unidad 2/XML24_OscarFP/dist/
/Unidad 3/A3UD3_Metadatos_OscarFernandezPastoriza/nbproject/private/
/Unidad 3/A5UD3_Repaso_OscarFernandezPastoriza/nbproject/private/
/Unidad 3/A7UD3_Repaso_OscarFernandezPastoriza/nbproject/private/
/Unidad 3/PreparacionExamen/nbproject/private/
